svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
    cursor: pointer;
}

svg path {
    fill: none;
    stroke: white;
    stroke-width: 1px;
}

svg+svg {
    margin-left: 1.5rem;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#top,
#bottom {
    stroke-dasharray: 30, 75.39;
    transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
}

svg.active #top,
svg.active #bottom {
    stroke-dasharray: 75.39;
    stroke-dashoffset: -60;
}

svg:nth-child(2) {
    transform: rotate(0deg);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

svg:nth-child(2) path {
    transition: all 0.4s ease-in-out 0.6s;
}

svg:nth-child(2).active {
    transform: rotate(180deg);
}

.rocket #top {
    stroke-dasharray: 30, 88;
}