@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #0A2647;
}

.montse {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  /* justify-content: center; */
}