@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Barlow+Condensed:wght@300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Ubuntu&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=excon@500&display=swap");

/* 
.text {
    color: #B3005E;
    font-family: 'Barlow Condensed', sans-serif;
    display:flex;
    justify-content: center;
    font-size: 7rem;
    font-weight: 800;
} */

.greet{
    transform: rotate(-90deg);
    position: relative;
    left:0.55em;
}


